{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body>
    <p style="text-align: right;"><img src="https://s3.amazonaws.com/mjumbewu-public/poepublic-small.png"></p>
    <p>Hi {{ invoice.recipient.name }},</p>

    <p>Find linked below the invoice for the PROJECT_NAME. The amount is <b>${{ invoice.amount_due|floatformat:'-2'|intcomma }}</b>, and you can find the full invoice, along with instructions for paying by check or card, at <a href="{{ invoice_url }}">{{ invoice_url }}</a>.</p>

    <p>If you have any questions or any corrections that need to be made, please let me know.</p>

    <p>Thanks!<br>- Mjumbe</p>
  </body>
</html>
