{% load humanize %}

<!DOCTYPE html>

<html>
  <head>
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/invoice.css">
  </head>

  {% with invoicer=invoice.sender %}
  <body>
    <div class="invoice-wrapper">
      <header class="invoice-header">
        <img src="{{ STATIC_URL }}images/poepublic.png" class="logo">
        <div class="contact-info">
          {{ invoicer.name }}<br>
          {{ invoicer.address|linebreaksbr }}
          {% if invoicer.phone %}<br><a href="tel:{{ invoicer.phone }}">{{ invoicer.phone }}</a>{% endif %}
          {% if invoicer.email %}<br><a href="mailto:{{ invoicer.email }}?subject=Invoice">{{ invoicer.email }}</a>{% endif %}
        </div>
      </header>

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      <section class="invoice-metainfo">
        <div class="invoice-number">{{ invoice.number }}</div>

        <div class="invoice-sent-date">
          <time date="{{ invoice.sent_date|date:'c' }}">{{ invoice.sent_date|date }}</time>
        </div>

        <div class="invoice-due-date">
          <time date="{{ invoice.due_date|date:'c' }}">{% if invoice.sent_date == invoice.due_date %}Upon Receipt{% else %}{{ invoice.due_date|date }}{% endif %}</time>
        </div>
      </section>

      <div class="client-contact-info">
        {% with r=invoice.recipient %}
          {{ r.name }}<br>
          {% if r.organization %}{{ r.organization }}<br>{% endif %}
          {% if r.address %}{{ r.address|linebreaks }}<br>{% endif %}
          {% if r.phone %}{{ r.phone }}<br>{% endif %}
          {{ r.email }}
        {% endwith %}
      </div>

      <table class="invoice-items">
        <thead>
          <tr>
            <td>Description</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Amount</td>
          </tr>
        </thead>
        <tbody>
          {% for item in invoice.items.all %}
          <tr>
            <td class="invoice-item-description">{{ item.description }}</td>
            <td class="invoice-item-quantity">{{ item.quantity|floatformat:-2|intcomma }} {{ item.units }}</td>
            <td class="invoice-item-unitprice">${{ item.unit_price|floatformat:-2|intcomma }}</td>
            <td class="invoice-item-amount">${{ item.amount|floatformat:-2|intcomma }}</td>
          </tr>
          {% if item.notes %}
          <tr>
            <td class="invoice-item-notes" colspan="3">{{ item.notes }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <table class="invoice-payment-info">
        <tbody>
          <tr class="invoice-total">
            <td>Total</td>
            <td>${{ invoice.total_amount|floatformat:-2|intcomma }}</td>
          </tr>
          <tr class="invoice-amount-paid">
            <td>Amount Paid</td>
            <td>${{ invoice.amount_paid|floatformat:-2|intcomma }}</td>
          </tr>
          <tr class="invoice-amount-due">
            <td>Amount Due</td>
            <td>${{ invoice.amount_due|floatformat:-2|intcomma }}</td>
          </tr>
        </tbody>
      </table>

      {% if invoice.additional_notes %}
      <section class="invoice-notes">
        <header>
          Additional Notes
        </header>
        {{ invoice.additional_notes|linebreaks }}
      </section>
      {% endif %}

      <section class="invoice-payment">
        {% if invoice.is_paid %}
        <div class="invoice-paid">Paid</div>
        {% else %}
        <form action="/charge" method="POST">{% csrf_token %}
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ settings.STRIPE_PUBLIC_KEY }}"
            data-image="{{ STATIC_URL}}images/poepublic-bonw-128.png"
            data-name="{{ invoice.recipient.organization }}"
            data-description="Invoice"
            data-amount="{{ stripe_price }}">
          </script>

          <input type="hidden" name="invoice_id" value="{{ invoice.id }}">
          <input type="hidden" name="access_code" value="{{ invoice.access_code }}">
          <input type="hidden" name="amount_paid" value="{{ invoice.amount_due }}">
          <input type="hidden" name="statement_descriptor" value="POE PUBLIC">
        </form>

        <span class="alternative">or</span>

        <div>
          Make checks payable<br>to <em>Mjumbe Poe</em> and send to:<br>
          <small><strong>
            {{ invoicer.name }}<br>
            {{ invoicer.address|linebreaksbr }}
          </strong></small>
        </div>
        {% endif %}
      </section>
    </div>
  </body>
  {% endwith %}
</html>