html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: sans-serif;
}

table {
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.invoice-wrapper {
	padding: 1rem;
}

.invoice-wrapper:after {
	/* clearfix */
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}

.invoice-header:before {
	content: 'Invoice';
	display: block;
	color: white;
	background-color: #404040;
	margin: -1rem -1rem 1rem -1rem;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.invoice-header {
	font-size: 0.8rem;
	margin-bottom: 3rem;
	text-align: right;
}

.invoice-header .logo {
	height: 5rem;
}

.contact-info {
	text-align: left;
}

.invoice-metainfo {
	text-align: right;
	margin-bottom: 3rem;
}

.invoice-metainfo div:before {
	font-size: 0.8rem;
	font-weight: bold;
	padding-right: 1rem;
}

.invoice-number:before {
	content: 'Invoice #: ';
}

.invoice-sent-date:before {
	content: 'Date: ';
}

.invoice-due-date:before {
	content: 'Due: ';
}

.client-contact-info {
	font-size: 1rem;
	font-weight: bold;
}

.invoice-items {
	clear: both;
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 100%;
}

.invoice-items thead {
	font-size: 0.8rem;
	font-weight: bold;
}

.invoice-items thead td {
	border-bottom: 1px solid silver;
}

.invoice-items thead td:last-child {
	text-align: right;
}

.invoice-items tbody td {
	border-bottom: 1px solid silver;
	padding: 0.5rem;
}

.invoice-item-amount {
	text-align: right;
}

.invoice-payment-info {
	float: right;
	margin-bottom: 3rem;
}

.invoice-payment-info td:first-child {
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
	padding-right: 1rem;
}

.invoice-payment-info td:last-child {
	text-align: right;
}

.invoice-payment-info td:first-child:after {
	content: ':';
}

.invoice-amount-due {
	font-weight: bold;
}

.invoice-amount-due td:last-child {
	border-top: 1px solid silver;
}

.invoice-notes {
	clear: both;
	margin-top: 3rem;
	display: none;
}

.invoice-notes header {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
	border-bottom: 1px solid black;
}

@media (min-width: 400px) {
	.invoice-header .logo {
		float: right;
	}

	.invoice-metainfo {
		float: right;
		clear: right;
	}

	.invoice-items tbody td {
		border: none;
		padding: 0.25rem;
	}

	.invoice-items tbody td:first-child {
		padding-top: 0.5rem;
	}
}

@media not screen {
	.invoice-header:before {
		color: silver;
		background-color: white;
	}
}

@media screen and (min-width: 400px) {
	body {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.invoice-wrapper {
		max-width: 45rem;
		min-height: 90%;
		box-sizing: border-box;

		margin: 1rem auto;
		border: 1px solid black;
		border-radius: 1rem;
		padding: 1rem;
		overflow: hidden;
	}

	.invoice-header:before {
		padding: 0.5rem;
	}
}